body {
  font-family: sans-serif;
  background-color: #f9f9f9;
  padding: 40px;
}

hr {
  width: 100%;
  border: none;
  border-top: 2px solid #ccc;
  /* margin: 8px 0; */
}

.TodoBox {
  width: 416px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  border-radius: 20px;
  border-width: 1px;

  padding-bottom: 25px;
  padding-right: 22px;
  padding-left: 22px;

  background: linear-gradient(0deg, #FFFFFF, #FFFFFF),
    linear-gradient(0deg, #F1F1F1, #F1F1F1);
  box-shadow: 0px 4px 4px 0px #00000040;
  box-shadow: 0px 3px 8px 0px #0000003D;
}

.todo-header {
  align-self: flex-start;
  text-align: left;
}

.todo-input-area {
  gap: 10px;
  display: flex;
  justify-content: space-between;
}

.todo-input {
  width: 370px;
  font-size: 16px;
  border: none;
  /* border-bottom: 2px solid #ccc; */
  outline: none;
}

.todo-list {
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 2px solid #ccc;

  /* width: 400px;
    height: 35px; */

  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 8px;
  padding-right: 8px;
}

.todo-list:hover {
  background-color: #ccc;
}

.todo-addBtn {
  all: unset;
  cursor: pointer;
}

.todo-addBtn img {
  width: 24px;
  height: 24px;
}

.todo-addBtn:hover {
  transform: scale(1.2);
}

.todo-checkBtn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-checked {
  text-decoration: line-through;
  color: #aaa;
}

.todo-hidden {
  visibility: hidden;
}

.todo-optBtn {
  display: flex;
  align-items: center;
  justify-content: center;

  all: unset;
  cursor: pointer;
}

.todo-optBtn img {
  width: 12px;
  height: 12px;
}

.todo-optBtn:hover {
  transform: scale(1.2);
}

.todo-completeBtn {
  all: unset;
  cursor: pointer;

  font-size: 14px;


  white-space: nowrap;
}

.complete-btn:hover {
  transform: scale(1.2);
}

.todo-span {
  flex: 0 0 320px;
  line-height: 1;
  font-size: 16px;

  margin-top: 2px;

  /* display: flex;
    align-items: center; */

  border: none;
  outline: none;
}